<%= form_with(model: publication) do |form| %>
  <% if publication.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(publication.errors.count, "error") %> prohibited this publication from being saved:</h2>

      <ul>
        <% publication.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :title %>
    <%= form.text_field :title %>
  </div>

  <div class="field">
    <%= form.label :published_at %>
    <%= form.datetime_select :published_at %>
  </div>

  <div class="field">
    <%= form.label :abstract %>
    <%= form.text_field :abstract %>
  </div>

  <div class="form-group field">
    <%= form.label :author_id %>
    <%= form.select :author_id, authors_for_select %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
